<div class="relative min-h-screen flex ">
  <div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
    <div
      class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-purple-900 text-white bg-no-repeat bg-cover relative"
      style="background-image: url(https://media.istockphoto.com/id/1168001460/photo/college-students-using-laptop-in-library-studying-together.jpg?s=612x612&w=0&k=20&c=W0B2pRtXM4ZS4IR7rUffjAaafErx6LuMeU-y42LtSTA=);">
      <div class="absolute bg-gradient-to-b from-blue-blue-munsell to-blue-300 opacity-75 inset-0 z-0"></div>
      <div class="w-full  max-w-md z-10">
        <div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6">Unigram is a world of universities!</div>
        <div class="sm:text-sm xl:text-md text-gray-200 font-normal"> Unleash the power of seamless student recruitment
          and enrollment with the one-stop solution for Universities. Specifically designed for recruiting international
          students, say goodbye to middle-men agents and hello to a streamlined and efficient decision-making process
          that saves valuable time for post-secondary students.
        </div>
      </div>
      <!---remove custom style-->
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div
      class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full w-2/5 xl:w-2/5 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none bg-white">
      <div class="max-w-md w-full space-y-8">
        <div class="text-center">
          <h2 class="mt-6 text-3xl font-bold text-gray-900">
            Welcome to Unigram!
          </h2>
          <p class="mt-2 text-sm text-gray-500">Please sign in to your account</p>
        </div>
        <div class="flex items-center justify-center space-x-2">
          <span class="h-px w-16 bg-gray-200"></span>
          <span class="text-gray-700 font-normal">
            or
            <a class="text-blue-blue-munsell hover:underline" routerLink="/register"> create an account </a>
          </span>
          <span class="h-px w-16 bg-gray-200"></span>
        </div>

        <form class="mt-8 space-y-6">

          <input name="remember" type="hidden" value="true">

          <div class="relative">
            <input
              class=" w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500"
              formControlName="email"
              placeholder="Email"
              type="email">
          </div>

          <div class="mt-8 content-center">
            <input
              class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
              formControlName="password"
              placeholder="Password"
              type="password"
            >
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded" id="remember_me" name="remember_me"
                     type="checkbox">
              <label class="ml-2 block text-sm text-gray-900" for="remember_me">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a class="text-indigo-400 hover:text-blue-500" href="#">
                Forgot your password?
              </a>
            </div>
          </div>
          <div>
            <button class="w-full flex justify-center bg-gradient-to-r from-blue-blue-munsell to-blue-400  hover:bg-gradient-to-r hover:from-blue-400 hover:to-blue-blue-munsell text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500"
                    type="submit">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
