<div *ngIf="program != null">
  <div class="border p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-xl ml-5 mr-5 mt-2">
    <div class="p-4 bg-white rounded-lg md:p-8 " role="tabpanel">
      <h2 class="mb-3 text-3xl font-bold tracking-tight text-gray-900 ">{{program.name}}</h2>
      <div class="float-right">Average annual tuition:</div>
      <br>
      <div class="float-right font-bold text-xl text-blue-blue-munsell">${{program.international_annual_tuition}}</div>
      <p class="mb-3 text-gray-500 ">{{program.university.name}}</p>
      <p class="mb-3 text-gray-500 ">Location: {{program.university.location}}</p>
      <a routerLink="/program-list/{{program.id}}" class="inline-flex items-center font-medium text-blue-blue-munsell hover:text-blue-800  ">
        Learn more
        <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </a>
    </div>
  </div>
</div>
